.banner{
    background: var(--degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo{
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

.banner__texto{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0.5em auto 1.5em;
    width: 316px;
}

.banner__pesquisa{
    background-color: transparent;
    border: 1px solid var(--branco);
    border-radius: 24px;
    padding: 1em 0.5em 1em 3em;
    width: 100%;
    color: var(--branco);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}

.banner__pesquisa::placeholder{
    font-family: var(--fonte-principal);
    color: var(--branco);
    text-align: center;
    background: url("../img/Pesquisa.svg") 1em / contain no-repeat;
}

@media screen and (min-width: 1024px) {
    .banner__titulo{
        font-size: 36px;
        line-height: 54px;
    }

    .banner__texto{
        width: auto;
    }

    .banner__pesquisa{
        width: 50%;
    }

    .banner__pesquisa::placeholder{
        background-position: 4em;
    }
}
