.cabecalho{
    position: relative;
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 24px;
}

.cabecalho--esquerda{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 26px;
}

.cabecalho__botao-menu{
    display: none;
}

.cabecalho__menu--hamburguer{
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
    width: 36px;
    height: 24px;
}

.cabecalho__logo{
    width: 40px;
}

.cabecalho__lista-menu{
    position: absolute;
    left: -100vw;
    top: 100%;
    width: 60vw;
    transition: 0.5s;
    background-color: var(--branco);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    line-height: 24px;
    list-style: none;
    z-index: 99;
}

.cabecalho__botao-menu:checked ~ .cabecalho__lista-menu{
    left: 0;
    transition: 0.5s;
    z-index: 99;
}

.menu__titulo{
    color: var(--cor-destaque);
    font-weight: 700;
    font-size: 1em;
    padding: 24px 0px 0px 24px;
}

.menu__item{
    padding: 24px 24px 16px;
}

.menu__item__link{
    text-decoration: none;
    font-weight: 400;
    font-size: 1em;
    background: var(--degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.menu__item__link:hover{
    text-decoration: underline;
}

.container__titulo{
    display: none;
}

.opcoes{
    display: none;
}

.opcoes__botao{
    display: none;
}

@media screen and (min-width: 1024px) {
    .cabecalho__menu--hamburguer{
        display: none;
    }

    .container__titulo, .container__titulo--negrito{
        font-family: var(--fonte-titulo);
        font-size: 30px;
    }

    .container__titulo{
        font-weight: 400;
        display: block;
        align-self: flex-end;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
        font-weight: 400;
        text-align: center;
    }

    .opcoes__item{
        padding: 0 1em;
    }

    .opcoes__link{
        text-decoration: none;
    }

    .img__coracao{
        display: none;
    }

    .cabecalho__lista-menu{
        display: none;
    }

    .opcoes__botao:checked ~ .cabecalho__lista-menu{
        display: block;
        width: auto;
        left: 35%;
    }

    .opcoes__botao:not(:checked) ~ .cabecalho__lista-menu{
        width: auto;
    }
}
